/* FAQItem.css */
.faq {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .faq-item:hover {
    border-color: #007bff;
  }
  
  .faq-question {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    display: flex;
    
    align-items: center;
    transition: background-color 0.3s ease;
    word-spacing: normal;
  }
  
  .faq-question:hover {
    background-color: #e1e1e1;
  }
  
  .faq-question span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding: 0 15px;
  }
  
  .faq-answer p {
    margin: 15px 0;
  }
  
  .faq-item.open .faq-answer {
    max-height: 500px; /* Adjust this value or use 'auto' if content size varies greatly */
    padding: 15px;
  }
  
  .faq-item.open .faq-question {
    background-color: #e1e1e1;
  }
  
  .faq-item.open .faq-question span {
    transform: rotate(180deg); /* Rotates the plus sign to minus when open */
  }
  
  .faq h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px; /* Optional: Adds space below the heading */
  }
  
  @media (max-width: 600px) {
    
  
    .faq-question h3 {
      
      font-size: 16px;
      margin: 0; /* Remove bottom margin to reduce space */
    }
  
    .faq-question {
      justify-content:space-evenly;
      padding: 10px; /* Reduce padding */
    }
  
    .faq-answer {
      padding: 10px; /* Reduce padding */
    }
  
    
  }